body{
	font-family: monospace;
	font-size: 100%;

	background-color: #222222;
}

button.smallButton{
	font-family: monospace;
	font-size: 400%;

	color: #4488ff;
	background-color: #222222;

	border: 2px solid #4488ff;
	border-radius: 8px;

	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

td{
	padding-top: 2%;
}

.calcDisplay{
	font-family: monospace;


	color: #222222;
	background-color: #4488ff;

	border-radius: 8px;
	border: 2px solid #222222;


	text-align: right;

	width: 13ch;
	height: 2ch;

	/*Overflow?*/
}

.outerDisplay{
	font-family: monospace;
	font-size: 400%;

	border: 2px solid #4488ff;
	border-radius: 8px;

	/* Fractional values are hard to read and this is definitely going to be replaced with something like an inherited width or something like that*/
	width: 13.15ch;
}
